@font-face {
    font-family: "Gilam";
    src: url("../fonts/Gilam-Trial-Regular.woff2") format("woff2"),
    url("../fonts/Gilam-Trial-Regular.woff") format("woff");
    font-style: normal; 
}
  
body {   
    background: #171717;
    margin: 0 auto;
    width: auto;
    font-family: "Gilam";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 37px;
}
.button {
    display: flex;
    align-items: center;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    padding: 9px 25px;
    border: 1px solid #E4B564;
}
.header-button-img {
    margin-right: 8px;
}
.background {
    padding-top: 91px;
    background: url(../image/parallax-bg.jpeg) no-repeat fixed;
    background-size: cover; 
}
.container {
    width: 1460px;
    margin: 0 auto;
}
.title {
    font-size: 50px; 
}
.first-block-title {
    margin-bottom: 41px;
}
.first-block-grid{
    display: grid;
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
    height: 963px;
    margin-top: 41px;
    margin-bottom: 161px;
}
.first-block-grid-item1 {
    background: #634F2C;
    grid-column: 1/3;
    grid-row: 1/2;
}
.first-block-grid-item2 {
    background: #B4A385;
    grid-column: 3/5;
    grid-row: 1/2;
}
.first-block-grid-item3 {
    background: #E4B564;
    grid-column: 5/7;
    grid-row: 1/2;
}
.first-block-grid-item4 {
    background: #635A4A;
    grid-column: 1/4;
    grid-row: 2/3;
}
.first-block-grid-item5 {
    background: #B08C4D;
    grid-column: 4/7;
    grid-row: 2/3; 
}
.first-block-grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.second-block {
    padding-bottom: 191px;
}
.second-block-flex {
    margin-top: 94px;
    min-height: 897px;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}
.second-block-column {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin-right: 30px;
    max-width: 467px;
}
.second-block-column:first-child{
    row-gap: 24px;
}
.second-block-column:nth-child(2){
    row-gap: 33px;
}
.second-block-column:last-child {
    row-gap: 26px;
}
.second-block-column-item {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding-top: 44px;
    padding-left: 52px;
    text-align: left;
}
.second-block-column-item1 {
    background: #0E0E0E;
    font-weight: 400;
}
.second-block-column-item2 {
    background: #1F1F1F;
}
.second-block-column-item3 {
    background: #242424;
    font-weight: 400;
}
.second-block-column-item4 {
    background: #E4B564;
    margin-bottom: 20px;
}
.second-block-column-item5 {
    background: #1F1F1F;
}
.second-block-column-item6 {
    background: #0E0E0E;
}
.second-block-column-item7 {
    background: #0A0909;
}
.background-third-block {
    background: url(../image/header-bg.jpeg) no-repeat fixed;
    background-size: cover;
}
.third-block {
    padding-top: 172px;
    padding-bottom: 238px;
}
.third-block-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.third-block-menu a {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    padding: 8px 38px;
    border: 1px solid #E4B564; 
}
.third-block-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    height: 782px;
    margin-top: 72px;
}
.third-block-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
} 
.third-block-item1 {
    background-color:  #634F2C;
}
.third-block-item2 {
    background: rgba(232, 210, 171, 0.76);
    font-family: "Gilam Bold";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}
.third-block-item3 {
    background: #E4B564;
}
.third-block-item4 {
    background: #635A4A;
}
.third-block-item5 {
    background: #B08C4D;
}
a:hover {
    opacity: 50%;
  
}